<!DOCTYPE html>
<html lang="zh-CN">
<head>
{{template "widgets/head.html" .}}
</head>
<body>
<div class="manual-reader manual-container">
{{template "widgets/header.html" .}}
    <div class="container manual-body cate-list">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#"><i class="fa fa-chevron-circle-right"></i> 前端</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/php.png" alt=""></a>
                        <div>
                            <a href="#">PHP (5)</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/python.png" alt=""></a>
                        <div>
                            <a href="#">Python</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/bash.png" alt=""></a>
                        <div>
                            <a href="#">Bash</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/c.png" alt=""></a>
                        <div>
                            <a href="#">C</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/csharp.png" alt=""></a>
                        <div>
                            <a href="#">C#</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/cpp.png" alt=""></a>
                        <div>
                            <a href="#">C++</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/swift.png" alt=""></a>
                        <div>
                            <a href="#">Swift</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/java.png" alt=""></a>
                        <div>
                            <a href="#">Java</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#"><i class="fa fa-chevron-circle-right"></i> 前端</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/php.png" alt=""></a>
                        <div>
                            <a href="#">PHP</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/python.png" alt=""></a>
                        <div>
                            <a href="#">Python</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/bash.png" alt=""></a>
                        <div>
                            <a href="#">Bash</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/c.png" alt=""></a>
                        <div>
                            <a href="#">C</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/csharp.png" alt=""></a>
                        <div>
                            <a href="#">C#</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/cpp.png" alt=""></a>
                        <div>
                            <a href="#">C++</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/swift.png" alt=""></a>
                        <div>
                            <a href="#">Swift</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/java.png" alt=""></a>
                        <div>
                            <a href="#">Java</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#"><i class="fa fa-chevron-circle-right"></i> 前端</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/php.png" alt=""></a>
                        <div>
                            <a href="#">PHP</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/python.png" alt=""></a>
                        <div>
                            <a href="#">Python</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/bash.png" alt=""></a>
                        <div>
                            <a href="#">Bash</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/c.png" alt=""></a>
                        <div>
                            <a href="#">C</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/csharp.png" alt=""></a>
                        <div>
                            <a href="#">C#</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/cpp.png" alt=""></a>
                        <div>
                            <a href="#">C++</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/swift.png" alt=""></a>
                        <div>
                            <a href="#">Swift</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/java.png" alt=""></a>
                        <div>
                            <a href="#">Java</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#"><i class="fa fa-chevron-circle-right"></i> 前端</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/php.png" alt=""></a>
                        <div>
                            <a href="#">PHP</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/python.png" alt=""></a>
                        <div>
                            <a href="#">Python</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/bash.png" alt=""></a>
                        <div>
                            <a href="#">Bash</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/c.png" alt=""></a>
                        <div>
                            <a href="#">C</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/csharp.png" alt=""></a>
                        <div>
                            <a href="#">C#</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/cpp.png" alt=""></a>
                        <div>
                            <a href="#">C++</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/swift.png" alt=""></a>
                        <div>
                            <a href="#">Swift</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/java.png" alt=""></a>
                        <div>
                            <a href="#">Java</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#"><i class="fa fa-chevron-circle-right"></i> 前端</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/php.png" alt=""></a>
                        <div>
                            <a href="#">PHP</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/python.png" alt=""></a>
                        <div>
                            <a href="#">Python</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/bash.png" alt=""></a>
                        <div>
                            <a href="#">Bash</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/c.png" alt=""></a>
                        <div>
                            <a href="#">C</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/csharp.png" alt=""></a>
                        <div>
                            <a href="#">C#</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/cpp.png" alt=""></a>
                        <div>
                            <a href="#">C++</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/swift.png" alt=""></a>
                        <div>
                            <a href="#">Swift</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/java.png" alt=""></a>
                        <div>
                            <a href="#">Java</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#"><i class="fa fa-chevron-circle-right"></i> 前端</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/php.png" alt=""></a>
                        <div>
                            <a href="#">PHP</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/python.png" alt=""></a>
                        <div>
                            <a href="#">Python</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/bash.png" alt=""></a>
                        <div>
                            <a href="#">Bash</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/c.png" alt=""></a>
                        <div>
                            <a href="#">C</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/csharp.png" alt=""></a>
                        <div>
                            <a href="#">C#</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/cpp.png" alt=""></a>
                        <div>
                            <a href="#">C++</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/swift.png" alt=""></a>
                        <div>
                            <a href="#">Swift</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/java.png" alt=""></a>
                        <div>
                            <a href="#">Java</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    <a href="#"><i class="fa fa-chevron-circle-right"></i> 前端</a>
                </h3>
            </div>
            <div class="panel-body">
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/php.png" alt=""></a>
                        <div>
                            <a href="#">PHP</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/python.png" alt=""></a>
                        <div>
                            <a href="#">Python</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/bash.png" alt=""></a>
                        <div>
                            <a href="#">Bash</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/c.png" alt=""></a>
                        <div>
                            <a href="#">C</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/csharp.png" alt=""></a>
                        <div>
                            <a href="#">C#</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/cpp.png" alt=""></a>
                        <div>
                            <a href="#">C++</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/swift.png" alt=""></a>
                        <div>
                            <a href="#">Swift</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="cate-item clearfix">
                        <a href="#"><img src="/static/images/cates/java.png" alt=""></a>
                        <div>
                            <a href="#">Java</a>
                            <div class="help-block">PHP是世界上最好的语言...</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    </div>
</div>
{{template "widgets/footer.html" .}}
</body>
</html>