# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go
*.json
test/

*.exe
*.test
*.prof
.idea
/conf/app.conf
*.log
logs/*
.DS_Store
mindoc
BookStack
BookStack.exe
BookStack.exe~
cache/
uploads
/store
bs.zip
*.xml
render.jpg
*.conf
version_control
node_modules
dist
output
virtualroot
docker
license.cert
index
index/
