<div class="modal fade" id="ModalBookChat" tabindex="-1" role="dialog" aria-labelledby="ModalBookChatLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalBookChatLabel">微信小程序阅读</h4>
            </div>
            <div class="modal-body text-center">
                <img src="{{showImg $.Wxacode}}" style="margin: 15px auto;" class="img-responsive" alt="BookChat 微信小程序阅读">
                <div class="help-block">微信扫一扫，知识掌上学</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭窗口</button>
            </div>
        </div>
    </div>
</div>