<div class="footer">
    <div class="{{if $.IsWideScreen}}container-fluid container-widescreen{{else}}container{{end}}">
        <div class="row">
            {{if (ads "global-before-friend-link" $.IsMobile)}}
                <div class="ap ap-global-before-friend-link col-xs-12 mgb-15px">{{str2html (ads "global-before-friend-link" $.IsMobile)}}</div>
            {{end}}
            {{if .IsCate}}
            <div class="col-xs-12 friend-links">
                <span class="text-muted">友情链接</span>
                {{range $.Friendlinks}}
                    <a href="{{.Link}}" title="{{.Title}}" target="_blank">{{.Title}}</a>
                {{end}}
            </div>
            {{end}}
            <div class="clearfix mgt-15px text-center">
                <div class="col-xs-12 mgt-15px">
                    {{if eq .HideTag true}}
                        {{/* 如果导航栏隐藏了标签，则这里显示标签 */}}
                        <span><a target="_blank" title="热门标签" href="{{urlfor "LabelController.List" }}">热门标签</a> </span>
                        <span>&nbsp;·&nbsp;</span>
                    {{end}}
                    <span><a target="_blank" title="赞助我们" href="/read/help/support">赞助我们</a> </span>
                    <span>&nbsp;·&nbsp;</span>
                    <span><a target="_blank" title="使用帮助" href="/books/help">使用帮助</a> </span>
                    <span>&nbsp;·&nbsp;</span>
                    <span><a target="_blank" title="关于我们" href="/read/help/about">关于我们</a> </span>
                    <span>&nbsp;·&nbsp;</span>
                    <span><a target="_blank" title="联系我们" href="/read/help/contact">联系我们</a> </span>
                </div>
                <div class="col-xs-12 hidden-xs mgt-15px">
                    <small class="text-muted">
                        <span>Modified By <a target="_blank" title="BookStack" href="https://www.bookstack.cn">BookStack</a> {{$.Version}} </span>
                        <span>&nbsp;·&nbsp;</span>
                        <span>Powered By <a href="https://www.iminho.me" TARGET="_blank" title="MinDoc">MinDoc</a></span>
                    </small>
                </div>
                <div class="col-xs-12 mgt-15px  text-center">
                    {{if $.ICP}}
                    <div class="help-block"><a href="http://beian.miit.gov.cn/" title="{{$.ICP}}" target="_blank" rel="nofollow">{{$.ICP}}</a></div>
                    {{end}}
                    <div class="help-block">
                        <small><a target="_blank" class="text-muted" title="站点地图" href="/sitemap.xml">站点地图</a></small>
                        {{/*<small><a target="_blank" class="text-muted" title="站点地图" href="{{urlfor "BaseController.Sitemap"}}">站点地图</a></small>*/}}
                    </div>
                    <div class="help-block">{{str2html $.TONGJI}}</div>
                </div>


            </div>

        </div>

    </div>
</div>
<script src="{{$.StaticDomain}}/static/jquery/1.12.4/jquery.min.js" type="text/javascript"></script>
<script src="{{$.StaticDomain}}/static/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="{{$.StaticDomain}}/static/js/toast.script.js" type="text/javascript"></script>
<script>
    $(function () {
        $(".tooltips").tooltip();
    })
</script>
{{if (ads "global-footer" $.IsMobile)}}
    <div class="ap ap-global-footer">{{str2html (ads "global-footer" $.IsMobile)}}</div>
{{end}}
