<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<title>{{.SeoTitle}}</title>
<meta name="keywords" content="{{.SeoKeywords}}"/>
<meta name="description" content="{{.SeoDescription}}"/>
{{/*<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">*/}}
{{/*<link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">*/}}

<link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link href="//cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

<link href="{{$.StaticDomain}}/static/css/toast.css" rel="stylesheet">
<link href="/static/css/main.css?version={{$.Version}}" rel="stylesheet">
{{/*<script src="/static/html5shiv/3.7.3/html5shiv.min.js"></script>*/}}
<script src="/static/html5shiv/3.7.3/html5shiv.min.js"></script>
{{/*<script src="/static/respond.js/1.4.2/respond.min.js"></script>*/}}
<script src="/static/respond.js/1.4.2/respond.min.js"></script>
