<div class="modal fade" id="ModalQRcode" tabindex="-1" role="dialog" aria-labelledby="ModalShareLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalShareLabel">文章二维码</h4>
            </div>
            <div class="modal-body">
                <div id="qrcode" style="width: 256px;height: 256px;margin: 0px auto;margin-bottom: 15px;"></div>
                <div class="help-block text-center">手机扫一扫，轻松掌上读</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭</button>
            </div>
        </div>
    </div>
</div>