<div class="modal fade" id="ModalSupport" tabindex="-1" role="dialog" aria-labelledby="ModalSupportLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="ModalSupportLabel">每一个认真的人，都值得被认真对待</h4>
            </div>
            <div class="modal-body clearfix">
                <div class="help-block">分享，让知识传承更久远！</div>
                <div class="help-block">知识的整理归类，离不开每一个热心网友的辛勤努力与默默付出！</div>
                <div class="help-block">如果当前文档能让您有所收获，请给予可爱的人一个打赏。</div>
                <div class="help-block">打赏，不在于金钱的多与少，而在于，您那份对Ta付出的肯定与认可！</div>
                <div class="help-block"><span class="text-danger">温馨提示：您的每一份打赏，都是直达知识文档分享达人手里，书栈网(BookStack.CN)不会从中拿一分钱！</span></div>
                <div class="col-xs-6 text-center" style="padding-left: 0px">
                    <div class="help-block">支付宝打赏</div>
                    {{if .Qrcode.Alipay}}
                        <img src="{{showImg .Qrcode.Alipay}}" class="img-responsive img-thumbnail" alt="支付宝二维码">
                    {{end}}
                </div>
                <div class="col-xs-6 text-center" style="padding: 0px">
                    <div class="help-block">微信打赏</div>
                    {{if .Qrcode.Wxpay}}
                        <img src="{{showImg .Qrcode.Wxpay}}" class="img-responsive img-thumbnail" alt="微信支付二维码">
                    {{end}}
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">关闭窗口</button>
            </div>
        </div>
    </div>
</div>