<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>榜单 - {{.SITE_NAME}}</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">

    <link href="/static/css/main.css?version={{$.Version}}" rel="stylesheet">
    <script src="/static/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="/static/respond.js/1.4.2/respond.min.js"></script>
</head>
<body id="page-rank">
<div class="manual-container">
    {{template "widgets/header.html" .}}
    <div class="container manual-body">
        <div class="row">
            <div class="col-xs-12">
                <div class="rank-head">
                    <ul class="nav nav-tabs">
                        <li class="active"><a href="#">总榜</a></li>
                        <li><a href="#">时长<span class="hidden-xs">榜</span></a></li>
                        <li><a href="#">人气<span class="hidden-xs">榜</span> </a></li>
                        <li><a href="#">收藏<span class="hidden-xs">榜</span></a></li>
                        <li><a href="#">签到<span class="hidden-xs">榜</span></a></li>
                    </ul>
                </div>
                <div class="rank-body">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">阅读时长榜 <small class="pull-right"><a href="" class="text-muted">更多>></a></small></div>
                                <div class="panel-body">
                                    <ul>
                                        {{range $idx,$user:=.TotalReadingUsers}}
                                            <li>
                                                <a href="{{urlfor "UserController.Index" ":username" $user.Account}}" target="_blank" title="{{$user.Nickname}}">
                                                    <span class="rank-order rank-order-no{{add $idx 1}}">{{add $idx 1}}</span>
                                                    <span class="rank-cont">{{$user.Nickname}}</span>
                                                    <small class="pull-right">{{str2html (formatReadingTime $user.TotalContinuousSign true)}}</small>
                                                </a>
                                            </li>
                                        {{end}}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">连续签到榜 <small class="pull-right"><a href="" class="text-muted">更多>></a></small></div>
                                <div class="panel-body">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">累计签到榜 <small class="pull-right"><a href="" class="text-muted">更多>></a></small></div>
                                <div class="panel-body">
                                    <ul>
                                       <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">热门收藏榜 <small class="pull-right"><a href="" class="text-muted">更多>></a></small></div>
                                <div class="panel-body">
                                    <ul>
                                       <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">人气热读榜 <small class="pull-right"><a href="" class="text-muted">更多>></a></small></div>
                                <div class="panel-body">
                                    <ul>
                                       <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">热门点评榜 <small class="pull-right"><a href="" class="text-muted">更多>></a></small></div>
                                <div class="panel-body">
                                    <ul>
                                        <li></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{template "widgets/footer.html" .}}
</div>
</body>
</html>