<div class="well">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="ucenter-avatar text-center">
                    <img class="thumbnail" src="http://static.bookstack.cn/uploads/201801/150bab6fb2839800.png/avatar" alt="用户名">
                    <h3>进击的皇虫</h3>
                    <div class="help-block"><span class="text-muted">(@truthhun)</span></div>
                    <!--<div><a href="#" class="btn btn-success btn-sm"><i class="fa fa-heart-o"></i> 关注Ta</a></div>-->
                    <div><a href="#" class="btn btn-success btn-sm"><i class="fa fa-cogs"></i> 个人设置</a></div>
                    <!--<div><a href="#" class="btn btn-default btn-sm"><i class="fa fa-heart text-danger"></i> 取消关注</a></div>-->
                    <div class="help-block mgt-15px">当你的知识再也支撑不起你的野心，该静下心来认真学习了。</div>
                </div>
            </div>
        </div>
    </div>
</div>