# 程序名称
appname = BookStack

# 内容采集转发。如： https://http-transfer.abc.com
# 需要部署`http-transfer`服务：https://github.com/TruthHun/http-transfer
http_transfer =

# 微信小程序 appid
appId=""

# 微信小程序appSecret
appSecret=""

# 是否允许跨域(针对小程序或者APP开发)
allowCors = true

# 是否限制API请求，也就是如果不是上述配置的微信小程序的appId请求的接口，则直接拒绝
limitReferer=false

# API 路由前缀，默认为 bookchat。API访问形式：https://您的域名/bookchat/api/v1/xxx
# 比如您把api前缀改为了 hello，则您在 BookChat 或者 BookChatApp 中，需要把 config.js 中的 host 常量配置为 https://您的域名/hello
apiPrefix=bookchat

# 是否显示小程序阅读码（需要配置了appScecret才会生效）
showWechatCode = false

# 比如你将static目录下的所有静态资源都放到了专门的服务器上，那么这个域名就行用来访问你的静态资源的域名。否则建议填写web网站的域名
# 如果您部署了微信小程序，则该值一定要填写
static_domain=

# 监听端口
httpport = 8181

# 运行模式。开发时，请设置为开发模式"dev"，即development；部署时，请设置为产品模式"prod"，即product。dev模式下，会打印各种调试信息
runmode = dev

# 是否开启session，这个必须开启，否则没法玩了。
sessionon = true

# session名称，这个你自己定。
sessionname = bookstack
copyrequestbody = true

# 启动gzip压缩，则设置为true，否则设置为false。建议启动
EnableGzip=true

# 要压缩的静态文件扩展名，其中.xml是sitemap站点地图压缩。建议按照这个来就行了
StaticExtensionsToGzip = .css, .js, .xml

#站点地图host（主要用于使用CDN的时候，host与实际host不一样，导致生成的sitemap不一样）
sitemap_host=www.bookstack.cn

# 默认Session生成Key的秘钥
beegoserversessionkey=bookstack

########Session储存方式##############
#以文件方式储存
sessionprovider=file
sessionproviderconfig=store/session

# 静态目录。这个是站点地图的静态目录
StaticDir = sitemap:sitemap


# 站点可直接访问的静态文件【注意，这里千万不能配置.conf文件扩展名，否则会把.conf文件当做静态文件而被外部访问，导致数据库账号密码等泄露。按照默认的来即可】
StaticExt=.txt,.xml,.ico,.png,.jpg,.jpeg,.gif,.html

#评论时间间隔，每次发表评论，限定间隔秒数，避免被恶意刷评论
CommentInterval=10

# 生成下载文档时导出pdf文档的配置，这里建议把关于bookstack.cn的信息替换成你自己的就行，其他的建议不要动
exportHeader=<p style='color:#8E8E8E;font-size:12px;'>_SECTION_</p>
exportFooter=<p style='color:#8E8E8E;font-size:12px;'>本文档使用 <a href='http://www.bookstack.cn' style='text-decoration:none;color:#1abc9c;font-weight:bold;'>书栈(BookStack.CN)</a> 构建 <span style='float:right'>- _PAGENUM_ -</span></p>
exportFontSize=13
exportPaperSize=a4
exportCreator=书栈(BookStack.CN)
exportMarginLeft=36
exportMarginRight=36
exportMarginTop=36
exportMarginBottom=36
# 是否使用自定义的电子书封面，如果使用，则需要安装并启用puppeteer，否则不生效
exportCustomCover=true


####################MySQL 数据库配置###########################
db_adapter=mysql

# 您的数据库host
db_host=

#您的数据库端口
db_port=3306

#您的数据库用户名
db_username=

# 您的数据库密码
db_password=

# utf8或者utf8mb4数据库。如果数据库还没创建，并且账号有创建权限，将自动创建。
db_database=bookstack

# 谷歌浏览器，用于发布内容的时候渲染未被渲染的markdown。建议安装最新版的Chrome浏览器，并把Chrome浏览器加入系统环境变量。
# 使用Chrome的headless去处理。之前考虑使用phantomjs的，但是phantomjs有些小问题，不如Chrome强大。
# chrome=chromium-browser
chrome=/Applications/Google\ Chrome.app/Contents/MacOS/Google\ Chrome

# 如果使用 puppeteer，则忽略chrome
puppeteer = false

#书籍默认封面
cover=/static/images/book.png

#默认头像
avatar=/static/images/avatar.png

#默认阅读令牌长度
token_size=12

#上传文件的后缀
upload_file_ext=txt|doc|docx|xls|xlsx|ppt|pptx|pdf|7z|rar|jpg|jpeg|png|gif

####################邮件配置######################
#是否启用邮件
enable_mail=true
#每小时限制指定邮箱邮件发送次数
mail_number=5
#smtp服务用户名
smtp_user_name=
#smtp服务器地址
smtp_host=
#smtp密码
smtp_password=
#端口号
smtp_port=25
#发送邮件的显示名称
form_user_name=

#接收回件的邮箱。留空则表示使用发送邮件的邮箱作为接收回件邮箱
reply_user_name=bookstack@qq.com

#邮件有效期30分钟
mail_expired=30


# 存储类型，后续扩展成本地存储(local)、阿里云OSS存储(oss)、七牛云存储(qiniu)、腾讯云存储(cos)、百度云存储(bos)和又拍云存储(upyun)
# 目前可选项：local、oss
store_type=local


# 不要修改
include "oss.conf"
include "oauth.conf"








