[oauth]
######## casdoor ########
# 先部署casdoor

casdoorOrganization =
casdoorApplication = "bookstack"
casdoorEndpoint = http://localhost:8000
clientId =
clientSecret =
redirectUrl = http://localhost:8181/login/callback