<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {{template "widgets/head.html" .}}
</head>
<body>
<div class="manual-reader manual-container">
    {{template "widgets/header.html" .}}
    <div class="container manual-body">
        <div class="row">
            <div class="col-xs-12 mgt-15px">
                {{if gt $.Cid 0}}
                    <ol class="breadcrumb">
                        <li><a href="/">首页</a></li>
                        {{/*<li><a href="{{urlfor "CateController.List"}}">分类</a></li>*/}}
                        <li class="active">{{$.Cate.Title}}</li>
                    </ol>
                {{end}}
                <ul class="nav nav-tabs">
                    <li {{if eq $.Tab "latest"}}class="active"{{end}}><a href="{{urlfor "HomeController.Index"}}?tab=latest&cid={{$.Cid}}">最新发布</a></li>
                    <li {{if eq $.Tab "popular"}}class="active"{{end}}><a href="{{urlfor "HomeController.Index"}}?tab=popular&cid={{$.Cid}}">热门书籍</a></li>
                    <li {{if eq $.Tab "recommend"}}class="active"{{end}}><a href="{{urlfor "HomeController.Index"}}?tab=recommend&cid={{$.Cid}}" title="站长推荐">站长推荐</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="manual-list">
                {{range $index,$item := .Lists}}
                {{/*<div class="list-item">*/}}

                <div class="col-xs-6 col-sm-3 col-md-2">
                    <dl class="manual-item-standard">
                        <dt>
                            <a class="clearfix tooltips {{if gt $item.OrderIndex 0}}recommend-book{{end}}" href="{{urlfor "DocumentController.Index" ":key" $item.Identify}}" title="{{$item.BookName}}" target="_blank" >
                                <img class="img-responsive border-cover-img" onerror="this.src='/static/images/book.png'" src="{{showImg $item.Cover "cover"}}" class="cover" alt="{{$item.BookName}}">
                            </a>
                        </dt>
                        <dd>
                            <a href="{{urlfor "DocumentController.Index" ":key" $item.Identify}}" class="name tooltips" title="{{$item.BookName}}" target="_blank">{{$item.BookName}}</a>
                        </dd>
                        {{/*<dd>*/}}
                            {{/*<span class="author">*/}}
                                {{/*<b class="text">作者</b>*/}}
                                {{/*<b class="text">-</b>*/}}
                                {{/*<b class="text">{{$item.CreateName}}</b>*/}}
                            {{/*</span>*/}}
                        {{/*</dd>*/}}
                    </dl>
                </div>
                {{end}}
                <div class="clearfix"></div>
            </div>
            <nav class="pagination-container">
                {{if gt .TotalPages 1}}
                {{.PageHtml}}
                {{end}}
                <div class="clearfix"></div>
            </nav>
        </div>
    </div>
</div>
{{template "widgets/footer.html" .}}
</body>
</html>