<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>评论管理  - {{.SITE_NAME}}</title>
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="/static/css/main.css?version={{$.Version}}" rel="stylesheet">
    <script src="/static/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="/static/respond.js/1.4.2/respond.min.js"></script>
</head>
<body>
<div class="manual-reader">
    {{template "widgets/header.html" .}}
    <div class="container manual-body">
        <div class="row">
            <div class="page-left">
                {{template "manager/menu.html" .}}
            </div>
            <div class="page-right">
                <div class="m-box">
                    <div class="box-head">
                        <strong class="box-title">评论管理</strong>
                    </div>
                </div>
                <div class="box-body">
                    <ul class="nav nav-tabs">
                        <li {{if eq .Status ""}}class="active"{{end}}><a href="{{urlfor "ManagerController.Comments"}}">全部</a></li>
                        <li {{if eq .Status "0"}}class="active"{{end}}><a href="{{urlfor "ManagerController.Comments"}}?status=0">待审核</a></li>
                        <li {{if eq .Status "1"}}class="active"{{end}}><a href="{{urlfor "ManagerController.Comments"}}?status=1">审核通过</a></li>
                        <li {{if eq .Status "-1"}}class="active"{{end}}><a href="{{urlfor "ManagerController.Comments"}}?status=-1">审核不通过</a></li>
                    </ul>
                    <br>
                    <table class="table table-hover table-striped">
                        <thead>
                        <tr>
                            <th>用户</th>
                            <th>书籍</th>
                            <th>点评内容</th>
                            <th>状态</th>
                            <th>操作 清评、禁言、删评、通过、</th>
                        </tr>
                        </thead>
                        <tbody>
                            {{range .Comments}}
                                <tr>
                                    <td><a href="#">111</a></td>
                                    <td>书籍</td>
                                    <td>点评内容</td>
                                    <td>状态</td>
                                    <td>操作 清评、禁言、删评、通过、</td>
                                </tr>
                            {{end}}
                        </tbody>
                    </table>
                    {{.PageHtml}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/jquery/1.12.4/jquery.min.js"></script>
<script src="/static/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>