<ul class="menu">
    <li  {{if .IsDashboard}}class="active"{{end}}><a href="{{urlfor "ManagerController.Index"}}" class="item"><i class="fa fa-dashboard" aria-hidden="true"></i> 仪表盘</a> </li>
    <li {{if .IsUsers}}class="active"{{end}}><a href="{{urlfor "ManagerController.Users" }}" class="item"><i class="fa fa-users" aria-hidden="true"></i> 用户管理</a> </li>
    <li  {{if .IsBooks}}class="active"{{end}}><a href="{{urlfor "ManagerController.Books" }}" class="item"><i class="fa fa-book" aria-hidden="true"></i> 书籍管理</a> </li>
    <li  {{if .IsComments}}class="active"{{end}}><a href="{{urlfor "ManagerController.Comments" }}" class="item"><i class="fa fa-comments-o" aria-hidden="true"></i> 评论管理</a> </li>
    <li  {{if .IsBanner}}class="active"{{end}}><a href="{{urlfor "ManagerController.Banners" }}" class="item"><i class="fa fa-image" aria-hidden="true"></i> 横幅管理</a> </li>
    <li {{if .IsSubmitBook}}class="active"{{end}}><a href="{{urlfor "ManagerController.SubmitBook" }}" class="item"><i class="fa fa-check-square-o" aria-hidden="true"></i> 收录管理</a> </li>
    <li {{if .IsSetting}}class="active"{{end}}><a href="{{urlfor "ManagerController.Setting" }}" class="item"><i class="fa fa-cogs" aria-hidden="true"></i> 配置管理</a> </li>
    <li {{if .IsManagerSeo}}class="active"{{end}}><a href="{{urlfor "ManagerController.Seo" }}" class="item"><i class="fa fa-globe" aria-hidden="true"></i> SEO管理</a> </li>
    <li {{if .IsAds}}class="active"{{end}}><a href="{{urlfor "ManagerController.Ads" }}" class="item"><i class="fa fa-adn" aria-hidden="true"></i> 广告管理</a> </li>
    <li {{if .IsCategory}}class="active"{{end}}><a href="{{urlfor "ManagerController.Category" }}" class="item"><i class="fa fa-th" aria-hidden="true"></i> 分类管理</a> </li>
    <li {{if .IsTag}}class="active"{{end}}><a href="{{urlfor "ManagerController.Tags" }}" class="item"><i class="fa fa-tags" aria-hidden="true"></i> 标签管理</a> </li>
    <li {{if .IsFriendlink}}class="active"{{end}}><a href="{{urlfor "ManagerController.FriendLink" }}" class="item"><i class="fa fa-link" aria-hidden="true"></i> 友链管理</a> </li>
    <li {{if .IsAttach}}class="active"{{end}}><a href="{{urlfor "ManagerController.AttachList" }}" class="item"><i class="fa fa-cloud-upload" aria-hidden="true"></i> 附件管理</a> </li>
{{/*<li><a href="{{urlfor "ManagerController.Comments" }}" class="item"><i class="fa fa-comments-o" aria-hidden="true"></i> 评论管理</a> </li>*/}}
</ul>