<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <title>致谢 - 书栈(BookStack.CN)</title>
    <link href="editormd.css" rel="stylesheet">
    <style>
        body{background-color: transparent !important;}
        .editormd-preview-container, .editormd-html-preview{padding: 0px;}
        p{text-indent: 2em;}
    </style>
</head>
<body>
<h1 style="text-align: center;margin-bottom: 30px;">致谢</h1>
<div class="article-body markdown-body editormd-preview-container" id="page-content">
    <p>当前文档 《{{.Model.BookName}}》 由 {{.Nickname}} 使用 书栈网(BookStack.CN) 进行构建，生成于 {{.Date}}。 </p>
    <p>书栈网仅提供文档编写、整理、归类等功能，以及对文档内容的生成和导出工具。</p>
    <p>文档内容由网友们编写和整理，书栈网难以确认文档内容知识点是否错漏。如果您在阅读文档获取知识的时候，发现文档内容有不恰当的地方，请向我们反馈，让我们共同携手，将知识准确、高效且有效地传递给每一个人。</p>
    <p>同时，如果您在日常工作、生活和学习中遇到有价值有营养的知识文档，欢迎分享到书栈网，为知识的传承献上您的一份力量！</p>
    <p>如果当前文档生成时间太久，请到书栈网获取最新的文档，以跟上知识更新换代的步伐。</p>
    {{if .Model.Author}}
        <p>内容来源：<a href="{{.Model.AuthorURL}}">{{.Model.Author}}</a> &nbsp;<span style="color: #888;">{{.Model.AuthorURL}}</span></p>
    {{end}}
    <p>文档地址：<a href="https://www.bookstack.cn{{urlfor "DocumentController.Index" ":key" .Model.Identify}}">http://www.bookstack.cn{{urlfor "DocumentController.Index" ":key" .Model.Identify}}</a></p>
    <p>书栈官网：<a href="https://www.bookstack.cn">https://www.bookstack.cn</a></p>
    <p>书栈开源：<a href="https://github.com/TruthHun">https://github.com/TruthHun</a></p>
    <p><strong>分享，让知识传承更久远！</strong> 感谢知识的创造者，感谢知识的分享者，也感谢每一位阅读到此处的读者，因为我们都将成为知识的传承者。</p>
</div>
</body>
</html>